{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container text-center">
    <h1 class="title-page">Sign In</h1>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->


<div class="row justify-content-center align-items-center mt-5">
  <div  class="col-6 d-flex  justify-content-center align-items-center ">
    <div class="card" style="width: 25rem; padding: 15px;" class="col-md-12 shadow-lg">

      <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-primary btn-block" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>
<br />
{% endblock %}
