{% load static %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-top padding-y">
      <div class="row">
        <aside class="col-md">
          <h6 class="title">Brands</h6>
          <ul class="list-unstyled">
            <li><a href="#">Xbox</a></li>
            <li><a href="#">PS4</a></li>
            <li><a href="#">Switch</a></li>
            <li><a href="#">PC</a></li>
          </ul>
        </aside>
        <aside class="col-md">
          <h6 class="title">Company</h6>
          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Rules and terms</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </aside>
        <aside class="col-md">
          <h6 class="title">Help</h6>
          <ul class="list-unstyled">
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Order status</a></li>
          </ul>
        </aside>
        <aside class="col-md">
          <h6 class="title">Account</h6>
          <ul class="list-unstyled">
            <li><a href="#"> User Login </a></li>
            <li><a href="#"> User register </a></li>
            <li><a href="#"> My Orders </a></li>
          </ul>
        </aside>
      </div>
      <!-- row.// -->
    </section>
    <!-- footer-top.// -->

    <section class="footer-bottom border-top row">
      <div class="col-md-2">
        <p class="text-muted">&copy 2019 Games Realm</p>
      </div>
      <div class="col-md-8 text-md-center">
        <span class="px-2">info@gamesrealm.io</span>
        <span class="px-2">+879-332-9375</span>
        <span class="px-2">123 Main Street, Games Realm Avenue </span>
      </div>
      <div class="col-md-2 text-md-right text-muted">
        <i class="fab fa-lg fa-cc-stripe"></i>
      </div>
    </section>
  </div>
  <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
