{% load static %} {% load shopping_bag_tags %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img
        src="{% static 'img/navbar_icon.png' %}"
        width="35"
        height="35"
        class="d-inline-block align-top"
        alt=""
      />
      The Video Game Store
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item pt-1">
          <a class="nav-link active" href="{% url 'heart_list' %}">
            <i class="fas fa-heart mr-1"></i>
            My Wishlist
          </a>
        </li>
        <li class="nav-item pt-1">
          <a class="nav-link active" href="{% url 'orders' %}">
            <i class="fas fa-grip-lines-vertical"></i>
            My Orders
          </a>
        </li>
        <li class="nav-item pt-1">
          <a class="nav-link active" href="{% url 'account_logout' %}">
            <i class="fas fa-sign-out-alt"></i>
            Logout
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shopping-cart' %}">
            <span class="fa-stack fa-1x">
              <i class="fa fa-shopping-bag fa-stack-2x"></i>
              <span class="fa-stack-1x shopping-bag-text"
                >{{request.user|cart_item_count}}</span
              >
            </span>
          </a>
        </li>
        <form
          class="form-inline pl-2 mx-auto"
          action="{% url 'search_results' %}"
        >
          <input
            name="q"
            class="form-control mr-sm-2 text-center"
            type="search"
            placeholder="Search Games Library"
            aria-label="Search Games Library"
          />
        </form>
        {% else %}
        <li class="nav-item pt-1">
          <a class="nav-link active" href="{% url 'orders' %}">
            <i class="fas fa-grip-lines-vertical"></i>
            My Orders
          </a>
        </li>
        <li class="nav-item pt-1">
          <a class="nav-link active" href="{% url 'account_login' %}">
            <i class="fas fa-sign-in-alt "></i>
            Login
          </a>
        </li>
        <li class="nav-item pt-1">
          <a class="nav-link active" href="{% url 'account_signup' %}">
            <i class="fas fa-user-plus"></i>
            Signup
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shopping-cart' %}">
            <span class="fa-stack fa-1x">
              <i class="fa fa-shopping-bag fa-stack-2x"></i>
              <span class="fa-stack-1x shopping-bag-text">0</span>
            </span>
          </a>
        </li>
        <form
          class="form-inline pl-2 mx-auto"
          action="{% url 'search_results' %}"
        >
          <input
            name="q"
            class="form-control mr-sm-2 text-center"
            type="search"
            placeholder="Search Games Library"
            aria-label="Search Games Library"
          />
        </form>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
