{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    <h1 class="title-page text-center">Welcome to Games Realm!</h1>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
  <div class="container">
    <header class="section-heading">
      <h2 class="section-title">Platforms</h2>
    </header>
    <!-- sect-heading -->
    <!-- ============================ COMPONENT BOOTSTRAP CARD WITH  IMG ================================= -->
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="card bg-dark">
          <img
            src="https://res.cloudinary.com/djmrmontu/image/upload/c_scale,h_853,w_1280/v1586225296/xbox_trpayd.jpg"
            class="card-img opacity"
          />
          <div class="card-img-overlay text-white">
            <h3 class="card-title">Xbox</h3>
            <br /><br />
            <a href="{% url 'games_list' 'X' %}" class="btn btn-light"
              >Shop Now!</a
            >
          </div>
        </div>
      </div>
      <!-- col.// -->
      <div class="col-md-3 text-center">
        <div class="card bg-dark">
          <img
            src="https://res.cloudinary.com/djmrmontu/image/upload/v1576551297/Box%20Art/ps4-2326600_1280_t5thir.jpg"
            class="card-img opacity"
          />
          <div class="card-img-overlay text-white">
            <h3 class="card-title">PS4</h3>
            <br /><br />
            <a href="{% url 'games_list' 'PS' %}" class="btn btn-light"
              >Shop Now!</a
            >
          </div>
        </div>
      </div>
      <!-- col.// -->
      <div class="col-md-3 text-center">
        <div class="card bg-dark">
          <img
            src="https://res.cloudinary.com/djmrmontu/image/upload/v1576551264/Box%20Art/nintendo-switch-3953601_1280_girqyd.jpg"
            class="card-img opacity"
          />
          <div class="card-img-overlay text-white">
            <h3 class="card-title">Switch</h3>
            <br /><br />
            <a href="{% url 'games_list' 'S' %}" class="btn btn-light"
              >Shop Now!</a
            >
          </div>
        </div>
      </div>
      <!-- col.// -->
      <div class="col-md-3 text-center">
        <div class="card bg-dark">
          <img
            src="https://res.cloudinary.com/djmrmontu/image/upload/v1576551289/Box%20Art/keyboard-70506_1280_uachf7.jpg"
            class="card-img opacity"
          />
          <div class="card-img-overlay text-white">
            <h3 class="card-title">PC</h3>
            <br /><br />
            <a href="{% url 'games_list' 'PC' %}" class="btn btn-light"
              >Shop Now!</a
            >
          </div>
        </div>
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
    <!-- ============================ COMPONENTBOOTSTRAP CARD IMG  END .// ================================= -->

    <br /><br />

    <header class="section-heading">
      <h2 class="section-title">From Our Catalog</h2>
    </header>
    <!-- sect-heading -->

    <!-- ============================ COMPONENTS 1  ================================= -->
    <div class="row">
      {% for game in games %}
      <div class="col-md-3">
        <figure class="card card-product-grid">
          <div class="img-wrap">
            <img src="{{ game.box_art }}" />
            <a class="btn-overlay" href="{% url 'single_game' game.id %}"
              ><i class="fa fa-search-plus"></i> Game Details</a
            >
          </div>
          <figcaption class="info-wrap border-top">
            <div class="text-center">
              <b class="title">{{ game.title }}</b>
              <br />
              <var class="price">{{ game.get_platform_display }}</var>
              <br />
              <var class="price">Price: {{ game.price_per_unit }}</var>
            </div>

            <div class="price mt-2">
              <!-- price-wrap.// -->
              <a
                href="#"
                onclick="addToCart(event, '{{ game.get_add_to_cart_url }}')"
                class="btn btn-block btn-outline-primary float-right"
              >
                <span class="text">Add to cart</span>
                <i class="fas fa-shopping-cart"></i>
              </a>
            </div>
            <!-- price-wrap.// -->
          </figcaption>
        </figure>
        <!-- card // -->
      </div>
      {% endfor %}
      <!-- col.// -->
    </div>
    <!-- ============================ COMPONENTS 1  END .// ================================= -->
    <br />
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
