{% extends "_base.html" %} {% block head_title %}Sign Out{% endblock %} 
{% block content %}
<div class="row justify-content-center align-items-center mt-5">
  <div class="col-6 d-flex  justify-content-center align-items-center ">
    <div
      class="card"
      style="width: 25rem; padding: 15px;"
      class="col-md-12 shadow-lg"
    >
      <h1 class="text-center">Sign Out</h1>

      <p class="text-center">Are you sure you want to sign out?</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn btn-danger btn-block" type="submit">
          Sign Out
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
