{% extends 'base.html' %}{% block content %}
<div class="container-fluid cxt-padded bg-faded mt-5 h-100">
  <div class="container">
    <div class="row text-white ">
      <div >
        <div class="col">
          <img
            src="{{game.box_art}}"
            class=" float-left img-responsive shadow-lg mr-5 mb-3"
            alt="..."
          />
        </div>
        <div class="col">
          <div class="toast-body">
            <h4 class="mt-0">{{ object.title }}</h4>
          </div>
          <div class="toast-body">
            {{ object.description }}
          </div>
          <div class="toast-body">
            {% for tag in object.genre_tages %}
            <span class="badge badge-pill badge-primary rounded-0 shadow-lg">
              {{ tag }}
            </span>
            {% endfor %}
          </div>
          <div class="toast-body">
            <a
              href="{{ object.get_add_to_cart_url }}"
              class="btn btn-lg btn-primary shadow-lg mt-3"
      
            >
              $60 - Add to Cart
            </a>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>

{% endblock %}
