{% extends 'base.html' %}{% block content %}

<div class="container">
  <div class="row game-details-row">
    <div class="col-xs-4">
      <img
        src="https://cdn.thegamesdb.net/images/thumb/boxart/front/2624-1.jpg"
        class="pull-left img-responsive shadow-lg"
        alt="..."
      />
      <div class="col-xs-8">
        <div class="toast-body">
          <h4 class="mt-0">{{ object.title }}</h4>
        </div>

        <div class="toast-body">
          {{ object.description }}
        </div>
        <div class="toast-body">
          {% for tag in object.genre_tages %}
          <span class="badge badge-pill badge-primary rounded-0 shadow-lg">
            {{ tag }}
          </span>
          {% endfor %}
        </div>
        <div class="toast-body">
          <a
            href="{{ object.get_add_to_cart_url }}"
            class="btn btn-lg btn-primary shadow-lg"
            style="margin-top: 40px"
          >
            $60 - Add to Cart
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
