{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    <h1 class="title-page text-center">{{platform}} Catalog</h1>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
  <div class="container">
    <!-- sect-heading -->
    <!-- ============================ COMPONENT BOOTSTRAP CARD WITH  IMG ================================= -->

    <br /><br />
    <!-- sect-heading -->

    <!-- ============================ COMPONENTS 1  ================================= -->
    <div class="row">
      {% for game in games %}
      <div class="col-md-3">
        <figure class="card card-product-grid">
          <div class="img-wrap">
            <img src="{{ game.box_art }}" />
            <a class="btn-overlay" href="{% url 'single_game' game.id %}"
              ><i class="fa fa-search-plus"></i> Game Details</a
            >
          </div>
          <figcaption class="info-wrap border-top">
            <div class="text-center">
              <b class="title">{{ game.title }}</b>
              <br />
              <var class="price">Price: {{ game.price_per_unit }}</var>
            </div>

            <div class="price mt-2">
              <!-- price-wrap.// -->
              <a
                href="#"
                onclick="addToCart(event, '{{ game.get_add_to_cart_url }}')"
                class="btn btn-block btn-outline-primary float-right"
              >
                <span class="text">Add to cart</span>
                <i class="fas fa-shopping-cart"></i>
              </a>
            </div>
            <!-- price-wrap.// -->
          </figcaption>
        </figure>
        <!-- card // -->
      </div>
      {% endfor %}
      <!-- col.// -->
    </div>
    <!-- ============================ COMPONENTS 1  END .// ================================= -->
    <br />
  </div>
  <!-- container .//  -->
</section>
{% endblock %}
