{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Shopping cart</h2>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <main class="col-md-9">
        <div class="card">
          <table id="table" class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
                <th scope="col" class="text-right" width="200"></th>
              </tr>
            </thead>
            <tbody>
              {% for order_item in order.games.all %}
              <tr id="cartItemRow{{order_item.id}}">
                <td>
                  <figure class="itemside">
                    <div class="aside">
                      <img src="{{ order_item.game.box_art }}" class="img-sm" />
                    </div>
                    <figcaption class="info">
                      <a href="#" class="title text-dark"
                        >{{order_item.game.title}}</a
                      >
                      <p class="text-muted small">
                        Platform: {{order_item.game.get_platform_display}}<br />
                      </p>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <a
                    href="#"
                    onclick="removeFromCart(event, '{{ order_item.game.get_remove_from_cart_url }}')"
                    class=""
                  >
                    <i class="fas fa-minus"></i>
                  </a>
                  <span id="cart-count{{order_item.game.id}}" class="">
                    {{order_item.quantity}}
                  </span>
                  <a
                    href="#"
                    onclick="addToCartInCart(event, '{{ order_item.game.get_add_to_cart_url }}')"
                    class=""
                  >
                    <i class="fas fa-plus"></i>
                  </a>
                </td>
                <td>
                  <div class="price-wrap">
                    <var id="cartItemTotal{{order_item.game.id}}" class="price"
                      >${{order_item.get_total_cart_item_price}}</var
                    >
                    <small class="text-muted">
                      ${{order_item.game.price_per_unit}} each
                    </small>
                  </div>
                  <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                  <a
                    href=""
                    onclick="removeAllFromCart(event, '{{ order_item.get_remove_item_from_cart_url }}')"
                    class="btn btn-light"
                  >
                    Remove</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="card-body border-top">
            <a
              href="{% url 'checkout' %}"
              class="btn btn-primary float-md-right"
            >
              Make Purchase <i class="fa fa-chevron-right"></i>
            </a>
            <a href="{% url 'home' %}" class="btn btn-light">
              <i class="fa fa-chevron-left"></i> Continue shopping
            </a>
          </div>
        </div>
        <!-- card.// -->

        <div class="alert alert-success mt-3">
          <p class="icontext">
            <i class="icon text-success fa fa-truck"></i> Free Delivery within
            1-2 weeks
          </p>
        </div>
      </main>
      <!-- col.// -->
      <aside class="col-md-3">
        <!-- card .// -->
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total in Cart:</dt>
              <dd class="text-right h5">
                <strong id="totalCartPrice"
                  >${{order.get_total_cart_price_no_coupon}}</strong
                >
              </dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <i class="fab fa-cc-stripe fa-3x"></i>
            </p>
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card .// -->
      </aside>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
