{% extends 'base.html' %}{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    <h1 class="title-page text-center">Wishlist</h1>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
  <div class="container">
    {% if games %} {% for game in games %}
    <div class="col-md-3">
      <figure class="card card-product-grid">
        <div class="img-wrap">
          <img src="{{ game.wished_game.box_art }}" />
          <a class="btn-overlay" href="{% url 'single_game' game.id %}"
            ><i class="fa fa-search-plus"></i> Game Details</a
          >
        </div>
        <figcaption class="info-wrap border-top">
          <div class="text-center">
            <b class="title">{{ game.wished_game.title }}</b>
            <br />
            <var class="price"
              >Price: {{ game.wished_game.price_per_unit }}</var
            >
          </div>

          <div class="price mt-2">
            <!-- price-wrap.// -->
            <form
              method="POST"
              action="{{ game.get_add_to_cart_url }}"
              class="form form-game-ajax"
            >
              {% csrf_token %}
              <button
                type="submit"
                class="btn btn-block btn-outline-primary float-right"
              >
                Add to cart
                <i class="fa fa-shopping-cart"></i>
              </button>
            </form>
          </div>
          <!-- price-wrap.// -->
        </figcaption>
      </figure>
      <!-- card // -->
    </div>

    {% endfor %} {% else %}
    <h2 class="mt-5 text-white text-center">No Games In Wishlist!</h2>
    {% endif %}
  </div>
</section>
{% endblock %}
