{% extends '_base.html' %} {% block content %}
<div class="container">
  <div class="jumbotron mt-4 text-center">
    <h1 class="display-4">The Video Game Store</h1>
    <p class="lead">
      <b>Click on the images below to shop the platform collections!</b>
    </p>
    <hr class="my-4" />
    <p>
      <b
        >Tech Stack: Python | Django | JavaScript(jQuery) | Bootstrap |
        PostgreSQL | Stripe Payments</b
      >
    </p>
    <div class="pt-2">
      <a
        href="https://github.com/phankanp/Video-Game-Shop"
        class="btn btn-outline-dark"
        >GitHub <i class="fab fa-github"></i
      ></a>
    </div>
  </div>

  <div class="row row-with-wide-cards">
    <div class="col-md-3 col-sm-12 d-flex">
      <div class="hovereffect ">
        <div class="card bg-dark text-white topRowImg flex-fill">
          <img
            src="https://cdn.pixabay.com/photo/2017/11/18/00/10/xbox-2958864_1280.jpg"
            class="card-img shadow-lg "
            alt="..."
          />
          <div class="card-img-overlay">
            <h2 class="card-title">Xbox</h2>
            <a href="{% url 'games_list' 'X' %}" class="btn btn-primary info"
              >Shop Now!</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 d-flex">
      <div class="hovereffect">
        <div class="card bg-dark text-white topRowImg">
          <img
            src="https://cdn.pixabay.com/photo/2017/05/19/14/05/ps4-2326600_1280.jpg"
            class="card-img shadow-lg"
            alt="..."
          />
          <div class="card-img-overlay">
            <h2 class="card-title">PS4</h2>
            <a href="{% url 'games_list' 'PS' %}" class="btn btn-primary info"
              >Shop Now!</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 d-flex">
      <div class="hovereffect">
        <div class="card bg-dark text-white topRowImg">
          <img
            src="https://cdn.pixabay.com/photo/2019/01/24/23/54/nintendo-switch-3953601_1280.jpg"
            class="card-img shadow-lg"
            alt="..."
          />
          <div class="card-img-overlay">
            <h2 class="card-title">Switch</h2>
            <a href="{% url 'games_list' 'S' %}" class="btn btn-primary info"
              >Shop Now!</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 d-flex">
      <div class="hovereffect">
        <div class="card bg-dark text-white topRowImg">
          <img
            src="https://cdn.pixabay.com/photo/2012/12/17/19/14/keyboard-70506_1280.jpg"
            class="card-img shadow-lg"
            alt="..."
          />
          <div class="card-img-overlay">
            <h2 class="card-title">PC</h2>
            <a href="{% url 'games_list' 'PC' %}" class="btn btn-primary info"
              >Shop Now!</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
